@import "~bootstrap/dist/css/bootstrap.min.css";

.cuerpocarta {
  background-color: green;
  height: 300px;
}

.numerocentro {
  font-size: 180%;
}

.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 140px;
}

/* height: 200px;
border: white;
width: 20%; */
